.vs
.metadata
bin/
iotwearable.editor/bin/
iotwearable.gen/bin/
iotwearable.model/bin/
iotwearable.model.edit/bin/
iotwearable.model.editor/bin/
iotwearable.utilities/bin/
iotwearable.validation/bin/
